<app-navbar></app-navbar>

<div class="programs-page">
    <!-- <h2>Church Programs</h2> --><br><br><br><br>
    
    <div class="programs-grid">
        <div class="program">
            <img src="assets/prayer.jpg" alt="Prayers Program" class="program-image" />
            <h3>Prayers</h3>
            <p>This program is dedicated to intercessory prayers, bringing together members to seek God's guidance, healing, and blessings.</p>
        </div>
        <div class="program"> 
            <img src="assets/baptism1.jpg" alt="Baptism Program" class="program-image" />
            <h3>Baptism</h3>
            <p>Through our baptism program, we celebrate the joy of welcoming new members into the faith, symbolizing a new beginning in Christ.</p>
        </div>
        <div class="program">
            <img src="assets/village1.jpg" alt="Preaching in the Village" class="program-image" />
            <h3>Preaching in the Village</h3>
            <p>This program focuses on spreading the Gospel in rural areas, fostering spiritual growth and building vibrant faith communities.</p>
        </div>
        <div class="program">
            <img src="assets/tanzania1.jpg" alt="Preaching in Tanzania" class="program-image" />
            <h3>Preaching in Tanzania</h3>
            <p>Our outreach in Tanzania aims to share the Word of God and provide spiritual guidance to local communities.</p>
        </div>
        
    </div>
</div>

<app-footer></app-footer>
