<app-navbar></app-navbar>

<div class="ministries-page">
  <h2>Our Ministries</h2>
  <div class="ministries-grid">
    <div class="ministry">
      <img src="assets/children3.jpg" alt="Children Ministry" class="ministry-image" />
      <h3>Children Ministry</h3>
      <p>Guiding our children in their spiritual journey through fun and engaging activities.</p>
    </div>
    <div class="ministry">
      <img src="assets/youth3.JPG" alt="Youth Ministry" class="ministry-image" />
      <h3>Youth Ministry</h3>
      <p>Empowering our youth to grow in faith and develop their leadership skills.</p>
    </div>
    <div class="ministry">
      <img src="assets/men.jpg" alt="Men Ministry" class="ministry-image" />
      <h3>Men Ministry</h3>
      <p>Creating a community for men to grow spiritually and support each other.</p>
    </div>
    <div class="ministry">
      <img src="assets/choir.jpg" alt="Worship Ministry" class="ministry-image" />
      <h3>Worship Ministry</h3>
      <p>Leading the congregation in heartfelt worship and praise through music.</p>
    </div>
    <div class="ministry">
      <img src="assets/child1.webp" alt="Women Ministry" class="ministry-image" />
      <h3>Women Ministry</h3>
      <p>Empowering women to grow in their faith and support one another.</p>
    </div>
    <div class="ministry">
      <img src="assets/bible.jpg" alt="Youth Leadership" class="ministry-image" />
      <h3>Youth Leadership</h3>
      <p>Developing the next generation of leaders through mentorship and training.</p>
    </div>
    <div class="ministry">
      <img src="assets/prayer.jpg" alt="Prayer Ministry" class="ministry-image" />
      <h3>Prayer Ministry</h3>
      <p>Encouraging a culture of prayer within the church community.</p>
    </div>
    <div class="ministry">
      <img src="assets/pastor2.jpg" alt="Evangelism Ministry" class="ministry-image" />
      <h3>Evangelism Ministry</h3>
      <p>Sharing the good news of Jesus Christ with our local community.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
