html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.church-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.services-section {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
    width: 100%;
}

.services-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #03045E;
}

.services-list {
    list-style-type: none;
    padding: 0;
}

.services-list li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.gallery-section {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.gallery-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #03045E;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}

.gallery-grid img {
    width: 100%;
    height: 150px; /* Reduce height for smaller images */
    object-fit: cover;
    border-radius: 8px;
}

.map-section {
    width: 100%;
    text-align: center;
    padding: 20px 0; /* Add some padding above and below the map */
}

.map-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #03045E;
}

/* Responsive Design for smaller screens */
@media (max-width: 1024px) {
    .top-section {
        height: auto; 
    }

    .church-image {
        max-height: 50vh; 
        height: auto;
        object-fit: contain; 
    }

    .services-list li {
        font-size: 1rem;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-grid img {
        height: 120px; 
    }
}

@media (max-width: 768px) {
    .homepage {
        margin-top: 150px;
    }
    .top-section {
        height: auto;
        margin-top: 40px; 
        margin-top: 40px; 
    }

    .church-image {
        max-height: 40vh; /* Further reduce max height */
        height: auto;
        object-fit: contain;
    }
 
    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .gallery-grid img {
        height: 100px; /* Adjust height for smallest screens */
    }
}
