<nav class="navbar">
    <!-- Top part with logo and church name -->
    <div class="navbar-top">
      <img src="assets/logo1.png" alt="Logo" class="logo" />
      <h1 class="church-name">Glory Tabernacle Church</h1>
    </div>
  
    <!-- Bottom part with links -->
    <div class="navbar-bottom">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/ministry" routerLinkActive="active">Ministry</a>
      <!-- <a routerLink="/sermons" routerLinkActive="active">Sermons</a> -->
      <a routerLink="/projects" routerLinkActive="active">programs</a>
      <a routerLink="/community" routerLinkActive="active">Community empowerment</a>
    </div>
  </nav>
